.search-bar-wrapper {
    display: flex;
}

.search-bar-form {
    display: flex;
    width: calc(100vw - 850px);
    margin: 4px;
}

.search-bar {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 9px;
    background-color: white;
    text-indent: 15px;
    font-size: 16px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.search-bar-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    background-color: #febd69;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.fa-magnifying-glass {
    font-size: 19px;
    color: #333333;
    cursor: pointer;
}
