/* TODO Add site wide styles */

@font-face {
    font-family: "Amazon Ember";
    src: url('https://d1irxr40exwge2.cloudfront.net/AmazonEmber_Rg.ttf');
}

#root {
    /* height: 100%; */
    padding: 0;
    margin: 0;
    width: 100%;
}

a {
    /* color: #0066c0; */
    text-decoration: none;
    cursor: pointer;
}


body {
    /* height: 100%; */
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: "Amazon Ember", Arial, sans-serif;
}

html {
    /* height: 100%; */
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: "Amazon Ember", Arial, sans-serif;
}
