/* .cart-item-container {
    display: flex;
} */

.cart-item-container {
    display: flex;

    justify-content: space-between;
    margin: 20px 0px;
    width: 60vw;
}

.cart-item-left-container {
    display: flex;
    gap: 10px;
}

.cart-item-name {
    width: 50vw;
    line-height: 1.3em;
    word-break: normal;
    color: #0F1111;
    font-size: 18px;
    cursor: pointer;
}

.by-seller {
    color: #565959;
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
}

.stock {
    color: #007600;
    font-size: 12px;
    line-height: 16px;
    margin-top: 9px;
}

.cart-item-name:hover {
    text-decoration: underline;
    color: #0F1111;
}
.cart-item-image {
    height: 180px;
    width: 180px;
    object-fit: scale-down;
}

.cart-item-delete {
    color: #007185;
    font-size: 12px;
}

.cart-item-delete:hover {
    cursor: pointer;
    text-decoration: underline;
}
