.product-create-edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forms-wrapper {
    width: 850px;
    border-radius: 4px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    margin-top: 35px;
}

.h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.form-input {
    padding: 10px 0px;
}

.form-submit {
    width: 100px;
    padding: 5px 6px;
    margin-top: 2px;
    margin-bottom: 28px;
    margin-right: 10px;
    border: 1px solid #a88734;
    border-radius: 3px;
    background: linear-gradient(0deg, rgba(240, 194, 77, 1) 0%, rgba(246, 221, 160, 1) 100%);
    color: #111111;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.form-cancel {
    width: 100px;
    padding: 5px 6px;
    margin-top: 2px;
    margin-bottom: 28px;
    border: 1px solid #a88734;
    border-radius: 3px;
    background: linear-gradient(0deg, rgba(240, 194, 77, 1) 0%, rgba(246, 221, 160, 1) 100%);
    color: #111111;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.preview-images-container {
    border: 1px solid red;
    padding: 5px;
    display: flex;
    overflow: auto;
    max-width: 800px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.preview-image-btn {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
    bottom: 90px;
    padding: 0 5px;
}

.preview-image-btn:hover {
    border: 1px solid black;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(240, 194, 77, 1) 0%, rgba(246, 221, 160, 1) 100%);
}

.preview-images-image {
    height: 100px;
    width: fit-content;
    max-width: 100px;
    margin: 0px 5px;
}

.empty-image {
    height: 100px;
    width: fit-content;
    max-width: 100px;
    margin: 0px 5px;
}
