@media screen and (min-width: 1500px) {
    .home-page-container {
        margin: 0 auto;
    }

    .product-card-container {
        margin: 0 auto;
    }
}

.home-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1500px;
}

.book-carousel-container {
    margin-top: -60px;
    padding: 0 20px;
}

.book-carousel-slide {
    display: flex;
    justify-content: space-around;
}

.book-carousel-product-image {
    width: 150px;
    height: 150px;
    object-fit: scale-down;
}

.book-carousel-product {
    cursor: pointer;
}
