/* @media screen and (min-width: 1500px) {
    .home-page-container {
        padding: 0 40px;
    }
} */

/* .home-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
} */

.book-carousel-container {
    margin-top: -40px;
}

.book-carousel-slide {
    display: flex;
    justify-content: space-around;
}

.book-carousel-product-image {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
}
