.home-header {
    height: 40px;
    background-color: #232F3E;
    z-index: 4;
    width: 100%;
}

.links-bar-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.links-bar-link {
    color: white;
    font-size: 14px;
    line-height: 12px;
}

.my-links {
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 12px;
}

.slider-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slider-container {
    position: relative;
    width: 100%;
    /* max-width: 1500px; */
    height: 800px
}

.slide-button {
    background-color: transparent;
    border: 1px solid transparent;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chev-left {
    height: 40px;
    position: absolute;
    top: 40px;
    left: 0px;
    cursor: pointer;
    padding: 100px 28px;
    border: 1px solid transparent;
    text-shadow: white 2px 0px;
}

.chev-right {
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 0px;
    padding: 100px 28px;
    border: 1px solid transparent;
    text-shadow: white -2px 0px;
}


.chev-left:active {
    border: 2px solid #232F3E;
    border-radius: 3px;
}

.chev-right:active {
    border: 2px solid #232F3E;
    border-radius: 3px;
}

.product-cards-container {
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    top: 48.7%;
    padding-left: 22px;
    padding-right: 22px;
    max-height: 64%;
    justify-content: space-evenly;
    overflow-y: visible;
    z-index: 2;
}

.card-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    /* max-width: 350px; */
    width: 20.5vw;
    /* padding: 2vw; */
    /* overflow-y: auto; */
    height: 27vw;
}

.card-image-info {
    font-size: 11px;
    margin-top: 5px;
    text-align: center;
}

.card-image-link {
    height: 90px;
    width: 100%;
    max-height: 80%;
    margin-bottom: -12px;
}

.card-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
}

.card-title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px
}

.card-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* gap: 5px; */
    width: 100%;
    height: 75%;
    margin-top: 0px;
    /* border: 1px solid blue */
}

/* .card-actual-image {
    height: 50px;
    width: fit-content;
    object-fit: scale-down;
} */
.card-actual-image {
    height: 90px;
    width: 100%;
    max-height: 80%;
    object-fit: contain;

}
